#clusterTable{
  min-width: 1245px;
}

.table > thead > tr > th {
 background-color: #D4D4D4;
 color: #636363;
 font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}

.table > tbody > tr > td{
  color: #7E7988;
  height: 34px;
}
.table td, .table th{
	vertical-align:inherit;
	line-height : 2.5
}

.table > tbody > tr > td a{
  color: #7E7988;
}

.table > tbody > tr:nth-child(2n+2) > td{
 background-color: #F8F8F8;
}

.table > tbody > tr:nth-child(2n+1) > td{
 background-color: #FFFFFF;
}

.table{
  color: #F3F3F4;
}

.table.dataTable{
  border-collapse : collapse !important;
}

.table-bordered {
  border: 1px solid #e9ecef;
}

.table-bordered tr {
  border: 1px solid #D7D7D7  !important;
}

.table-bordered td, .table-bordered th {
  border: 0px solid #e9ecef;
}

.table-responsive{
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.defaultClusterStar {
	width: 41px;
  /* float: right; */
  height: 23px;
}

.status{
	width: 15px;
}

.badge-light{
  border: 1px solid #67AECA  !important;
  color: #67AECA;
}

.badge-danger {
  color: #fff !important;
  background-color: #941751 !important;
}

.badge-warning {
  color: #fff !important;
  background-color: #E7AB5F !important;
}

table.dataTable thead tr.cancel_sorting th:first-child:before {right: 0em; content: none !important;}
table.dataTable thead tr.cancel_sorting th:first-child:after {right: 0em; content: none !important;}
table.dataTable thead > tr > th.sorting_asc { padding-right: 0.75rem !important; }
/*table.dataTable thead > tr > th*/
.apnumber{
  text-align: left;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#listLoader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.container-fluid{
  padding-right: 12px !important;
  padding-left: 10px !important;
}