.modal-content{
  border-radius: 0px;
}

.modal-body{
  padding: 0px 15px 0px 15px;
}

.body-content {
    background-color: #F4F4F4;
    padding: 2%;
}

#okBtn{
    background-color: #5A96CF;
    color: #FFFFFF;
    border-radius: 0px;
    border-color: #5A96CF;
}