#container {
	background-color: #464C54;
}
#header {
	font-size: 230%;
    padding-top: 5%;
    padding-left: 15%;

}

#loginHeader {
	margin-top: 7%;
}

#loginHeaderText .orange{
	text-content: center;
	color: #fe8002;
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#loginHeaderText .white{
    text-content: center;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.orange {
	color: #FF8000;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
}

.white {
	color: #CDCDCD;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
}

#wifiImg {
    width: 71px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
}

#loginForm {
	margin-top: 7%;
    width: 300px;
}

/*form{
    width: 50%;
}*/

#notvalidate1, #notvalidate2, #otherErrorMsg{
    color: red;
    padding-left: 15px;
    font-size: 12px;
}

#loginInput {
	/*background-color: #FF8000;
	max-width: 100%;
    width: 100%;
    height: 35px;
    margin-top: 5%;
    text-align: center;
    font-size: 15px;
    border-radius:0;
    border-color: #FF8000;*/
    background-color: #ff8000 !important;
    color: #333333;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 280px !important;
    margin-top: 66px;
    text-align: center;
    border-radius: 0rem;
}

#loginContainer {
	margin-top: 10%;
}

#loginContainer > div {
    text-align: center;
}

#username, #password {
    display: block;
    background-color: #ebebeb !important;
    width: 280px;
    height: 38px;
    border: 0;
    border-radius: 0rem;
    margin-top: 15px;
    padding: 0 10px;
    text-align: left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
