#userTable{
    min-width: 1235px;
}

.table > thead > tr > th {
 background-color: #D4D4D4;
 color: #636363;
 font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}

.table > tbody > tr > td{
  color: #7E7988;
  height: 34px;
}
.table td, .table th{
    vertical-align:inherit;
    line-height : 2.5
}

.table > tbody > tr > td a{
  color: #7E7988;
}

.table > tbody > tr:nth-child(2n+2) > td{
 background-color: #F8F8F8;
}

.table > tbody > tr:nth-child(2n+1) > td{
 background-color: #FFFFFF;
}

.table{
  color: #F3F3F4;
}

.table.dataTable{
  border-collapse : collapse !important;
}

.table-bordered {
  border: 1px solid #e9ecef;
}

.table-bordered tr {
  border: 1px solid #D7D7D7  !important;
}

.table-bordered td, .table-bordered th {
  border: 0px solid #e9ecef;
}

.table-responsive{
  margin-top: 0.5%;
  margin-bottom: 1%;
}

table.dataTable thead tr.cancel_sorting th:first-child:before {right: 0em; content: none !important;}
table.dataTable thead tr.cancel_sorting th:first-child:after {right: 0em; content: none !important;}
table.dataTable thead > tr > th.sorting_asc { padding-right: 0.75rem !important; }

.mainBody{
    background-color: #D8DFE7;
    margin-top: -15px;
    padding: 1%;
}

.subBody{
    padding: 2.1% 0% 2% 0%;
    margin: 1% 2% 1% 2%;
    background-color: #EFF3F4;
}

.userHeader{
    font-size: 35px;
    font-family: "Helvetica Neue",helvetica,arial,sans-serif;
    color: #797979;
    font-weight: bold;
    margin-left: 2%;
    padding-top: 10px;
}


#refeshUserBtn{
 width: 24px;
 height: 24px;
 background-image: url('../../assets/images/refresh.png');
 background-size: 15px 15px;
 background-repeat:no-repeat;
 background-position:center center;
 border-color: #CCCCCC;      
 background-color: #FFFFFF;      
 padding: 0px;   
 margin-right: 4px;
 border-radius: 0px;
}

#addUserBtn{
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/add.svg');
    background-size: 37px 37px;
    background-repeat:no-repeat;
    background-position:center center;
    border-color: #CCCCCC;      
    background-color: #FFFFFF;      
    padding: 0px;   
    margin-right: 4px;
}

#editUserBtn{
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/edit.svg');
    background-size: 36px 36px;
    background-repeat:no-repeat;
    background-position:center center;
    border-color: #CCCCCC;      
    background-color: #FFFFFF;      
    padding: 0px;  
    margin-right: 4px;  
}

#closeUserBtn{
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/trash.svg');
    background-size: 15px 16px;
    background-repeat:no-repeat;
    background-position:center center;
    border-color: #CCCCCC;      
    background-color: #FFFFFF;      
    padding: 0px; 
    margin-right: 4px;
    border-radius: 0px;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.modal-content{
    border-radius: 0px;
}

.modal-body{
    padding: 0px 15px 0px 15px;
}

.body-content {
    background-color: #F4F4F4;
    padding: 2%;
}

#okUserBtn{
    background-color: #5A96CF;
    color: #FFFFFF;
    border-radius: 0px;
    border-color: #5A96CF;
}