#apiTable{
  min-width: 1205px;
}

.mainBody{
  background-color: #D8DFE7;
  margin-top: -15px;
}
.subBody{
  padding:2.1% 2% 1% 2%;
  margin: 1% 2% 1% 2%;
  background-color: #EFF3F4;
}
.configHeader{
  font-size: 35px;
  font-family: "Helvetica Neue",helvetica,arial,sans-serif;
  color: #797979;
  font-weight: bold;
  margin-left: 2%;
  padding-top: 10px;
}

.table > thead > tr > th {
 background-color: #D4D4D4;
 color: #636363;
 font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}

.table > tbody > tr > td{
  color: #7E7988;
  height: 34px;
}
.table td, .table th{
	vertical-align:inherit;
	line-height : 2.5
}

.table > tbody > tr > td a{
  color: #7E7988;
}

.table > tbody > tr:nth-child(2n+2) > td{
 background-color: #F8F8F8;
}

.table > tbody > tr:nth-child(2n+1) > td{
 background-color: #FFFFFF;
}

.table{
  color: #F3F3F4;
}

.table.dataTable{
  border-collapse : collapse !important;
}

.table-bordered {
  border: 1px solid #e9ecef;
}

.table-bordered tr {
  border: 1px solid #D7D7D7  !important;
}

.table-bordered td, .table-bordered th {
  border: 0px solid #e9ecef;
}

.table-responsive{
  margin-top: 0.5%;
  margin-bottom: 1%;
}

.status{
	width: 15px;
}

table.dataTable thead tr.cancel_sorting th:first-child:before {right: 0em; content: none !important;}
table.dataTable thead tr.cancel_sorting th:first-child:after {right: 0em; content: none !important;}
table.dataTable thead > tr > th.sorting_asc { padding-right: 0.75rem !important; }

#listLoader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.btn-group{
	height: 24px;
	float: left;
	clear: left;
	margin-left: 17px;
	margin-right: 5px;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
#addBtn{
  width: 24px;
  height: 24px;
  background-image: url('../../assets/images/add.svg');
  background-size: 37px 37px;
  background-repeat:no-repeat;
  background-position:center center;
  border-color: #CCCCCC;      
  background-color: #FFFFFF;      
  padding: 0px;   
  margin-right: 4px;
}

#editBtn{
  width: 24px;
  height: 24px;
  background-image: url('../../assets/images/edit.svg');
  background-size: 36px 36px;
  background-repeat:no-repeat;
  background-position:center center;
  border-color: #CCCCCC;      
  background-color: #FFFFFF;      
  padding: 0px;  
  margin-right: 4px;  
}

#deleteBtn{
  width: 24px;
  height: 24px;
  background-image: url('../../assets/images/trash.svg');
  background-size: 15px 16px;
  background-repeat:no-repeat;
  background-position:center center;
  border-color: #CCCCCC;      
  background-color: #FFFFFF;      
  padding: 0px; 
  margin-right: 4px;
  border-radius: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#primaryBtn{
  background-color: #5A96CF;
  color: #FFFFFF;
  border-radius: 0px;
  border-color: #5A96CF;
}

#cancelBtn{
  background-color: #A9A9A9;
  color: #262121;
  border-color: #A9A9A9;
  border-radius: 0px;
}

.modal-content{
  border-radius: 0px;
}

.modal-body{
  padding: 0px 15px 0px 15px;
}

.body-content
{
  background-color : #F4F4F4;
  padding : 2%;
}

#refeshBtn{
  width: 24px;
  height: 24px;
  background-image: url('../../assets/images/refresh.png');
  background-size: 15px 15px;
  background-repeat:no-repeat;
  background-position:center center;
  border-color: #CCCCCC;      
  background-color: #FFFFFF;      
  padding: 0px;   
  margin-right: 4px;
  border-radius: 0px;
}
