.body-content
{
    background-color : #F4F4F4;
    padding : 2%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#addUserBtn{
  background-color: #5E5E5E;
  color: #FFFFFF;
  border-color: #5E5E5E;
  border-radius: 0px;
}

#cancelAdd{
  background-color: #A9A9A9;
  color: #262121;
  border-color: #A9A9A9;
  border-radius: 0px;
}

.modal-content{
  border-radius: 0px;
}

.modal-body{
  padding: 0px 15px 0px 15px;
}

.form-control-feedback > p {
  color: red
}

#primaryBtn{
  background-color: #5A96CF;
  color: #FFFFFF;
  border-radius: 0px;
  border-color: #5A96CF;
}

#cancelBtn{
  background-color: #A9A9A9;
  color: #262121;
  border-color: #A9A9A9;
  border-radius: 0px;
}