<div class="mainBody">
	<div class="activitiesHeader">
		Admin Activities
	</div>
	<div class="subBody">
		<div class="container-fluid">
			<!-- <div class="row"> -->
				<div id="adminWrapper">
					<!-- <div id="adminSideBar">
						<div id="adminSidePanelView">
							<span class="badge badge-default">D</span><span id="SelectedItem" (click)='itemClicked()'>System</span>
						</div>
					</div> -->
					<div id="adminTableView"><ng-template #activityTable></ng-template></div>
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>