/*#activityTable{
  min-width: 1160px;
}*/


.table > thead > tr > th {
 background-color: #D4D4D4;
 color: #636363;
 height: 34px;
 font-family: "Helvetica Neue",helvetica,arial,sans-serif;
}

.table > tbody > tr > td{
  color: #7E7988;
  height: 34px;
}

.table td, .table th{
	vertical-align:inherit;
	/*line-height : 2.5;*/
}

.table > tbody > tr:nth-child(2n+2) > td{
 background-color: #F8F8F8;
}

.table{
  color: #F3F3F4;
  width: 100% !important;
}

.col-12{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.table.dataTable{
  border-collapse : collapse !important;
}

.table-bordered {
  border: 1px solid #D7D7D7  !important;
}

.table-bordered tr {
  border: 1px solid #D7D7D7  !important;
}

.table-bordered td, .table-bordered th {
  border: 0px solid #e9ecef;
}

.table-responsive{
  margin-top: 0.5%;
  margin-bottom: 1%;
}

table.dataTable thead > tr > th.sorting_asc { padding-right: 0.75rem !important; }


#activityTableBody{
  width: 100%;
}

.textOverflow{
  white-space: nowrap;      /*keep text on one line */
  overflow: hidden;         /*prevent text from being shown outside the border */
  text-overflow: ellipsis; 
}